<% if logged_in? %>
  <p>Hi <%= current_user.name %>. What book do you have in your backpack?</p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Books in Backpack</h1>
      <h3>Share your book during your travel</h3>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>