<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MyLocation<span class="caret"></span></a>
  <ul class="dropdown-menu multi-level">
    <% Country.all.each do |country| %>
      <li class="dropdown-submenu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= country.name %></a>
      <ul class="dropdown-menu">
        <% Mylocation.where(country_id: country.id).each do |mylocation| %>
          <li><%= link_to mylocation.city, mylocation_path(mylocation_id: mylocation.id), method: :patch %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
</li>